@model  List<RealEstate_Dapper_UI.Areas.AboutUs.Data.AboutUsDto.ResultAboutUsWhyUsDto>

<section class="w3l-aboutblock2" id="why">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row">
                <div class="col-lg-6 left-wthree-img">
                    <img src="~/starter/assets/images/about.jpg" alt="" class="img-fluid radius-image" />
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5 align-self">
                    @foreach(var item in Model)
                    {
                        <h6 class="title-small">Neden Biz</h6>
                        <h3 class="title-big">@item.Title</h3>
                        <p class="mt-4">
                           @item.Description
                        </p>
                        <ul class="w3l-right-book mt-lg-5 mt-4">
                            <li><span class="fa fa-check" aria-hidden="true"></span>@item.s1</li>
                            <li><span class="fa fa-check" aria-hidden="true"></span>@item.s2</li>
                            <li><span class="fa fa-check" aria-hidden="true"></span>@item.s3</li>
                            <li><span class="fa fa-check" aria-hidden="true"></span>@item.s4</li>
                        </ul>
                    }
                  
                </div>
            </div>
        </div>
    </div>
</section>